<!DOCTYPE html>
<html>

<head>
  <!-- set `maximum-scale` for some compatibility issues -->
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover" />
  <meta charset="utf-8" />
  <link rel="icon" href="/img/toux.jpg" type="image/x-icon">
  <title>bigB博客</title>
  <script>
  </script>
</head>

<body>
  <div id="root"></div>
</body>

</html>
